body {
    display: grid;
    grid-template-columns: 100px auto;
    grid-template-areas:
        "header header"
        "aside main"
        "footer footer";
    gap: 10px;
}

.header {
    grid-area: header;
    background-color: rgb(181, 216, 255);
    padding: 5px 10px;
}

.header h1 {
    display: inline-block;
    vertical-align: auto;
}

.aside {
    background-color: rgb(181, 216, 255);
}

ul.asideNav {
    grid-area: aside;
    list-style: none;
    margin: 0px;
    padding: 5px;
    color: rgb(86, 40, 129);
}

a {
    display: block;
    text-decoration: none;
    padding: 5px 0px;
    font-size: 20px;
}

.main {
    background-color: rgb(181, 216, 255);
    grid-area: main;
}

.footer {
    grid-area: footer;
    background-color: rgb(181, 216, 255);
    font-size: 20px;
}