body {
    font-family: Helvetica, sans-serif;
    line-height: 1.5;
}

.container {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    gap: 30px;
    max-width: 70vh;
}

.article .article__title {
    font-family: Georgia, serif;
    line-height: 1.2;
}

