@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');    

:root {
    --clr-green: #118933;
}

* {
    box-sizing: border-box;
}

main {
    font-family: "PT Serif", serif;

}

.container {
    position: relative; 
    display: flex;
    width: 1100px;
    height: 500px;
    margin: 100px auto 0 auto;
    background-image: url("../image/image1.png");
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background-repeat: repeat-y;
}

section {
    flex-basis: 50%;
    flex-grow: 1;
    flex-shrink: 1;
    margin: 30px;
}

.image-container img {
    width: 100%;
}

.title {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 25px;
    border-bottom: 1px dashed var(--clr-green);
}

.overview {
    display: flex;
    justify-content: space-between;
}

.overview h3 {
    margin-top: 5px;
    font-style: italic;
}

.recipes {
    margin-top: 30px;
}

.recipes p {
    margin: 5px;
    word-spacing: 2px;
}

.recipes strong {
    color: var(--clr-green);
}

.steps {
    margin-top: 50px;
    line-height: 1.4;
}

table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

table th,
table td {
    border: 1px solid var(--clr-green);
}